

<div class="myModal">
<div class="card">
  <div class="card-header">
    <h3>Create a employee form</h3>
  </div>
  <div class="card-body">
    <form class="form" [formGroup]="employeeForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" formControlName="name">
        <span class="text-danger"
          *ngIf="(employeeFormControl['name'].touched || submitted) && employeeFormControl['name'].errors?.['required']">
          Name is required
        </span>
      </div>

      <div class="form-group">
        <label>Surname</label>
        <input type="text" class="form-control" formControlName="surname">
        <span class="text-danger"
          *ngIf="(employeeFormControl['surname'].touched || submitted) && employeeFormControl['surname'].errors?.['required']">
          Surname is required
        </span>
      </div>

      <div class="form-group">
        <label>E-mail</label>
        <input type="email" class="form-control" formControlName="email">
        <span class="text-danger"
          *ngIf="(employeeFormControl['email'].touched || submitted) && employeeFormControl['email'].errors?.['required']">
          Email is required
        </span>
        <span class="text-danger"
          *ngIf="(employeeFormControl['email'].touched || submitted) && employeeFormControl['email'].errors?.['email']">
          Email format
        </span>
      </div>

      <div class="form-group">
        <label>Address</label>
        <input type="text" class="form-control" formControlName="address">
      </div>

      <div class="form-group">
        <label>Salary</label>
        <input numeric [decimals]="2" type="text"  class="form-control" formControlName="salary">
        <span class="text-danger"
          *ngIf="(employeeFormControl['salary'].touched || submitted) && employeeFormControl['salary'].errors?.['required']">
          Salary is required
        </span>
      </div>

      <div class="form-group d-flex justify-content-around">
        <button type="button" (click)="onCancelUserDialog()" class="btn btn-warning mt-4">close</button>
        <button type="submit" [disabled]="employeeForm.invalid" class="btn btn-success mt-4">submit</button>
    </div>
    </form>
  </div>
</div>
</div>
