<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()" matTooltip="Menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Angular SpringBoot demo</span>
  <span class="toolbar-item-spacer"></span>

  <button mat-icon-button matTooltip="Settings" [matMenuTriggerFor]="settingsMenu">
    <mat-icon>settings</mat-icon>
  </button>
  <mat-menu #settingsMenu [overlapTrigger]="false" yPosition="below">
      <button mat-menu-item  (click)="openTempDialog()">
       <mat-icon>delete_sweep</mat-icon>Delete all companies</button>
  </mat-menu>

  <button mat-icon-button matTooltip="My Account" [matMenuTriggerFor]="userAccountMenu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #userAccountMenu [overlapTrigger]="false" yPosition="below">
    <button mat-menu-item routerLink="#">
      <a target="_blank" href="https://www.linkedin.com/in/paraskevas-lysikatos/">
        <mat-icon>person</mat-icon><span>My LinkedIn Profile</span>
      </a>
    </button>
    <button mat-menu-item>
      <a target="_blank" href="https://gist.github.com/iznenad/dce4b75a4fb3e7fca02ce9601d43e7f1#file-test-md">
        <mat-icon>list_alt</mat-icon><span>Task description</span>
      </a>
    </button>
  </mat-menu>

</mat-toolbar>

<mat-sidenav-container class="app-container">
  <mat-sidenav #sidenav opened="true" mode="side" [class.mat-elevation-z4]="true" class="app-sidenav">
    <mat-nav-list>
      <mat-list-item routerLink="/dashboard">
        <mat-icon>home</mat-icon><span class="icon-spacer">Dashboard</span>
      </mat-list-item>
      <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>
          Company Management
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="/create-company">
            <mat-icon>add_circle_outline</mat-icon><span class="icon-spacer">Create a company</span>
          </a>
          <a mat-list-item routerLink="/preview-company">
            <mat-icon>view_list</mat-icon><span class="icon-spacer">View companies</span>
          </a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
      <div class="app-sidenav-content">
        <!-- Components open here -->
        <router-outlet></router-outlet>
      </div>
    <mat-toolbar color="secondary" class="footer">
      <span style="font-size: 14px;">@Copyright Paraskevas Lysikatos</span>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #dialogRef>
  <div style="height:150px;width:300px;">
    <h3 style="text-align:center">Are you sure?:</h3>
    <p style="text-align:center">Companies will be deleted permanently</p>
    <button style="margin:5%;" mat-button mat-dialog-close>Close</button>
    <button style="margin:5%;" mat-raised-button color="warn" mat-dialog-close (click)="deleteDialog()">confirm</button>
  </div>
</ng-template>
