.toolbar-item-spacer {
  flex: 1 1 auto;
}

.app-container {
  height: 90%;
  margin: 0;
}
.app-sidenav {
  width: 20%;
}
.app-sidenav-content {
  display: flex;
  height: 95%;
  justify-content: center;
}

a { text-decoration: none;color: black; }
a:visited { text-decoration: none; color: black; }
a:hover { text-decoration: none; color: black;}
a:focus { text-decoration: none; color: black; }
a:hover, a:active { text-decoration: none; color: black; }

.icon-spacer{
  margin: 10px;
}

.footer{
  height: 4%;
  margin-top:15% ;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  bottom: 0;
  position:relative;
}
